{% extends "baselayout.html" %}
{% set active_page = 'perf' %}
{% block body %}

<div id="reports" class="container_12">
    <div class="grid_12">
        <h3>Possible Sproc perf issues report</h3>
        <form method="GET" action="/perfapi">
            <span class="text3">Hostname:</span>
            <select name="hostname">
                <option value="all">all</option>
                {% for host_id, host in host_names: %}
                <option value="{{ host['host_name'] }}" {% if interval['hostname'] == host['host_name'] %} selected="selected" {% endif %}>{{ host['host_name'] }}</option>
                {% endfor %}
                <!--<option value="customer1-master.db.zalando">customer1-master.db.zalando</option>-->
            </select>
            <br />
            <span class="text3">Api 1:</span>
            <input type="text" name="from" value="{{ interval['from'] }}">
            <br />
            <span class="text3">Api 2:</span>
            <input type="text" name="to" value="{{ interval['to'] }}">
            <input name="show" type="submit" value="show"></form>
    </div>
    <script>
        $(function() {
            $(".datefield").datepicker({"dateFormat": "yy-mm-dd"});
        });
    </script>
    <div class="clear"></div>
    <div class="grid_4">
        <table border="1">
            <tr>
                <th>Host</th>
                <th>Schema</th>
                <th>Sproc</th>
                <th>Calltime change %</th>
                <th>Share on total runtime</th>
                <th>Avg1</th>
                <th>Avg2</th>
                <th>Calls1</th>
                <th>Calls2</th>
                <th>Callscount change %</th>
                <th>Allowed growth %</th>
                <th>Allowed share on total runtime %</th>
            </tr>
            {% for d in data: %}
            <tr>                             
                <td><a href="/{{ hosts[d['host_id']]['settings']['uiShortName'].lower() }}">{{ d['host_name'] }}</a></td>
                <td><a href="/sprocs/show/{{ d['host_id'] }}/{{ d['sproc_name'] }}">{{ d['sproc_schema'] }}</a></td>
                <td><a href="/sprocs/show/{{ d['host_id'] }}/{{ d['sproc_name'] }}">{{ d['sproc_name'] }}</a></td>
                <td>{{ d['calltime_change_pct'] }} </td>
                <td>{{ d['share_on_total_runtime'] }} </td>
                <td>{{ d['execution_avg1'] }} </td>
                <td>{{ d['execution_avg2'] }} </td>
                <td>{{ d['calls1'] }} </td>
                <td>{{ d['calls2'] }} </td>
                <td>{{ d['callscount_change_pct'] }} </td>
                <td>{{ d['allowed_runtime_growth_pct'] }} </td>
                <td>{{ d['allowed_share_on_total_runtime_pct'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
