{% extends "baselayout.html" %}
{% set active_page = 'index' %}
{% block body %}

<div class="container_12">
    <br />
    {% if all_sprocs: %}

    <h4>Sprocs listing (active withing last {{active_days}} days) for: <a href="/{{hostuiname}}">{{ hostname }}</a>
    | <a href="/sprocs/all/{{hostuiname}}/{{active_days}}/graph">show as mini-graphs</a>
    </h4>
    <form action="/sprocs/all/{{hostuiname}}">
        <h2>Active days: <input type="text" value="{{active_days}}" size="3" name="active_days">
        <input type="submit" value="Update"></h2>
    </form>
    <br />
    <ol>
    {% for sproc in all_sprocs %}
        <li><a href="/sprocs/show/{{hostuiname}}/{{sproc}}">{{sproc}}</a></li>
    {% endfor %}
    </ol>

    {% else %}

    <h4>Sprocs for: <a href="/{{hostuiname}}">{{ hostname }}</a> ({{active_days}} days, ordered by total runtime descending) | <a href="/sprocs/all/{{hostuiname}}">show as listing</a> </h4>

    {% for g in graphs %}
   <div class="grid_3">
      <h2><a href="/sprocs/show/{{hostuiname}}/{{ g.name }}">{{ g.name }}</a></h2>
      <div id="graph{{ g.i }}" style="width:100%;height:200px;"></div>
      <div id="choices{{g.i }}"></div>
      {{ g.graph }}
   </div>
   {% endfor %}

    {% endif %}
</div>

{% endblock %}






