<!DOCTYPE html>
{% set active_page = active_page|default('index') -%}
{% set auto_reload = auto_reload|default(-1) -%}
<html>
<head>
    <title>PGObserver</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
    <link href="/static/jquery-ui-1.11.1.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/fluid_1680.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui-1.11.1.min.js" type="text/javascript"></script>
    <script src="/static/js/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="/static/js/flot/jquery.flot.selection.min.js" type="text/javascript"></script>
    <script src="/static/js/flot/jquery.flot.stack.min.js" type="text/javascript"></script>
    <script src="/static/js/flot/jquery.flot.time.min.js" type="text/javascript"></script>
    <script src="/static/js/flot/jquery.flot.autoscale.js" type="text/javascript"></script>
    <script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/js/scripts.js" type="text/javascript"></script>
    {% if auto_reload != -1 %} <meta http-equiv="refresh" content="{{ auto_reload }}">{% endif %}
    <script type="text/javascript">
        var hosts = {{ hosts_json }};
        var groups = {{ groups_json }};
    </script>
</head>
<body>
     <div id="navcontainer">
         <div id="navlist">
             <input id="topsearch" type="text" placeholder="search..." />
             <h1>Monitored instances and performance views</h1>
             {% for g in groups: %}
             <div class="navrow">
                 <label>{{ groups[g] }}</label>
                 {% for h in hostgroups[g]: %}
                    <a {% if h['host_id'] == active_page %}id="current"{% endif %} href="/{{ h['uishortname'] }}">{{h['uilongname']}}</a>
                 {% endfor %}
             </div>
             {% endfor %}
             <div class="navrow">
                 <label>Performance Analyzes</label>
                 <a {% if "report" == active_page %}id="current"{% endif %} href="/report">Load Overview</a>
                 <a {% if "toptables" == active_page %}id="current"{% endif %} href="/tables">Top Tables</a>
                 <a {% if "perftables" == active_page %}id="current"{% endif %} href="/perftables">Perf. Issues - Tables</a>
                 <a {% if "perfapi" == active_page %}id="current"{% endif %} href="/perfapi">Perf. Issues - SProcs</a>
                 <a {% if "perfindexes" == active_page %}id="current"{% endif %} href="/perfindexes">Perf. Issues - Indexes</a>
                 <a {% if "perfschemas" == active_page %}id="current"{% endif %} href="/perfschemas">Unused Schemas report</a>
                 <a {% if "perflocks" == active_page %}id="current"{% endif %} href="/perflocks">Blocking locks report</a>
                 <a {% if "perfstatstatements" == active_page %}id="current"{% endif %} href="/perfstatstatements">Pg_Stat_Statements report</a>
                 <a {% if "perfbloat" == active_page %}id="current"{% endif %} href="/perfbloat">Bloated tables/indexes report</a>
             </div>
         </div>
         <div id="navclose"></div>
     </div>
    <div id="topbar">
        <h4 id="pagetitle">Default view</h4>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>