{% extends "baselayout.html" %}
{% set active_page = 'perfapi' %}
{% block body %}

<div id="reports" class="container_12">
    <div class="grid_12">
        <h3>Possible Sproc perf issues report</h3>
        <form method="GET" action="/perfapi">
            <span class="text3">Host:</span>
            <select name="uishortname">
                <option value="all">all</option>
                {% for uishortname in uishortnames: %}
                <option value="{{ uishortname }}" {% if interval['uishortname'] == uishortname %} selected="selected" {% endif %}>{{ uishortname }}</option>
                {% endfor %}
            </select>
            <br />
            <span class="text3">Api 1:</span>
            <input type="text" name="from" value="{{ interval['from'] }}">
            <br />
            <span class="text3">Api 2:</span>
            <input type="text" name="to" value="{{ interval['to'] }}">
            <input name="show" type="submit" value="show">
        </form>
    </div>
    <script>
        $(function() {
            $(".datefield").datepicker({"dateFormat": "yy-mm-dd"});
        });
    </script>
    <div class="clear"></div>
    <div class="grid_4">
        <table class="perftable" border="1">
            <tr>
                <th>Host</th>
                <th>Schema</th>
                <th>Sproc</th>
                <th>Calltime change %</th>
                <th>Share on total runtime %</th>
                <th>Avg1</th>
                <th>Avg2</th>
                <th>Callscount change %</th>
                <th>Calls1</th>
                <th>Calls2</th>
            </tr>
            {% for d in data: %}
            <tr>                             
                <td><a href="/{{ d['host_ui_shortname'] }}">{{ d['host_ui_shortname'] }}</a></td>
                <td><a href="/sprocs/show/{{ d['host_ui_shortname'] }}/{{ d['sproc_name'] }}">{{ d['sproc_schema'] }}</a></td>
                <td><a href="/sprocs/show/{{ d['host_ui_shortname'] }}/{{ d['sproc_name'] }}">{{ d['sproc_name'] }}</a></td>
                <td>{{ d['calltime_change_pct'] }} ({{ d['allowed_runtime_growth_pct'] }})</td>
                <td>{{ d['share_on_total_runtime'] }} ({{ d['allowed_share_on_total_runtime_pct'] }})</td>
                <td>{{ d['execution_avg1'] }} </td>
                <td>{{ d['execution_avg2'] }} </td>
                <td>{{ d['callscount_change_pct'] }} </td>
                <td>{{ d['calls1'] }} </td>
                <td>{{ d['calls2'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
