{% extends "baselayout.html" %}
{% set active_page = hostid %}
{% block body %}

<div class="container_12">
    <div class="grid_12">
    <h4>Index details for: <a href='/tables/show/{{hostuiname}}/{{table_name}}'>{{ table_name }}</a> on <a href="/{{hostuiname}}">{{hostname}}</a></h4>
      <form method="GET" action="/indexes/{{hostuiname}}/{{table_name}}">
      <span class="text3">Timeframe:&nbsp;</span><input class="datefield" type="text" name="from" value="{{ interval['from'] }}"><input class="datefield" type="text" name="to" value="{{ interval['to'] }}">
      <input type="submit" value="show"></form>
    </div>
    <script>
    $(function() {
        $(".datefield").datepicker({"dateFormat":"yy-mm-dd"});
    });
    </script>

    {% for ig in all_graphs %}
    
    <div class="clear"></div>    
    <h2 id="{{ schema  }}.{{ ig['name']  }}"> {{ schema  }}.{{ ig['name']  }} - {{ig['last_index_size']}} MB [ {{ ig['pct_of_total_end_size'] }}% of total index size {{ ig['total_end_size'] }} MB ]</h2>
    
    {% for g in ig['graphs'] %}
    <div class="clear"></div>
    <div class="grid_12">
        <h3></h3>
        <div class="graphc" id="index{{ g['i'] }}" style="width:100%;height:180px;"></div>
        {{ g['data'] }}
    </div>    
    {% endfor %}
    
    {% endfor %}


</div>

{% endblock %}
