html, body
{
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
}

body
{
    background-color: rgb(45, 45, 45);
    font-family: Verdana;
    font-size: 13px;
}

h1
{
    color: rgb(250, 250, 250);
    margin-bottom: 6px;
}

#navcontainer
{
    background: rgba(0, 0, 0, 0.9);
    color: rgb(250, 250, 250);
    height: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

#navlist
{
    margin: 20px;
}

#navlist a:link, #navlist a:visited
{
    font-weight: bold;
    color: #E67F17;
    padding-bottom: 2px;
    margin-right: 8px;
}

#navlist a:link#current, #navlist a:visited#current
{
    color: #FFAF5F;
    border-bottom: 1px solid #FFAF5F;
}

#navlist a:hover
{
    border-bottom: 1px solid #E67F17;
}

.navrow
{
    padding: 16px 0 8px 0;
    border-bottom: 1px solid rgb(250, 220, 240);
}

.navrow label
{
    display: block;
    font-size: 130%;
    padding-bottom: 5px;
}

#pagetitle
{
    color: rgb(250, 250, 250);
    margin-left: 60px;
}



#logrows td
{
    font-size: 12px;
}

#logrows a
{
    font-size: 13px;
}

#logrows .more
{
    font-size: 14px;
    border: 1px solid black;
    color: #444444;
}

/* http://colorschemedesigner.com/#0.51KsOsOFfFf */

h2
{
    font-size: 13px;
    color: #E65217;
    font-weight: 800;
}

h3
{
    font-size: 14px;
    color: #E65217;
    font-weight: 800;
}

h3 a
{
    font-size: 13px;
}

.text3
{
    font-size: 14px;
    color: #E65217;
    font-weight: 800;
}

h4
{
    font-size: 15px;
    color: #E65217;
    font-weight: 800;
}



.frontTable th
{
    text-align: left;;
    font-size: 12px;
    color: #F6C262;
}

.frontTable td
{
    font-size: 11px;
    color: #F6AD62;
}

a
{
    color: #F6AD62;
    text-decoration: none;
}

.frontTable a
{
    font-size: 11px;
    color: #F6AD62;
    text-decoration: none;
}

.frontTable .active
{
    font-size: 11px;
    color: #E65217;
    text-decoration: none;
}

#reports .higher
{
    color: #FF0000;
    font-weight: bold;
}

#reports .lower
{
    color: #00FF00;
}

#reports th
{
    font-size: 14px;
    color: #E65217;
}

#reports h2
{
    font-size: 15px;
    color: #E65217;
    font-weight: 800;
}

#reports td
{
    font-size: 13px;
    color: #F6AD62;
}

input
{
    background-color: #404040;
    color: #FFFFFF;
    font-weight: 400;
    border: 1px solid grey;
}

.datefield
{
    width: 75px;
}

#topbar
{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: rgba(0, 0, 0, 0.8) url(images/slidedown.png) no-repeat center;
    z-index: 9999;
}

#topbar:hover
{
    background-color: rgba(0, 0, 0, 1);
}

#topbar h4
{
    padding-top: 0;
    margin-top: 5px;
}

#topsearch
{
    float: right;
    font-size: 20px;
}

.fadeout
{
    opacity: 0.2;
}
