{% extends "baselayout.html" %}
{% set active_page = hostid %}
{% set auto_reload = 240 %}
{% block body %}

<div class="container_12">
   <div class="grid_12">
      <h4>Temporary files created:</h4>
      <div id="tempfilesgraph" style="width:100%;height:200px;"></div>
      <div id="choices1"></div>
      {{ tempfilesgraph }}
   </div>
   <div class="clear"></div>

   <div class="grid_12">
      <h4>Errors:</h4>
      <div class="graphc" id="errorgraph" style="width:100%;height:200px;"></div>
      <div id="choices1"></div>
      {{ errorgraph }}
   </div>
   <div class="clear"></div>

   <div class="grid_12">
      <h4>Timeouts:</h4>
      <div class="graphc" id="timeoutgraph" style="width:100%;height:200px;"></div>
      <div id="choices1"></div>
      {{ timeoutgraph }}
   </div>
   <div class="clear"></div>

   <div class="grid_12">
      <h4>Waits:</h4>
      <div class="graphc" id="waitgraph" style="width:100%;height:200px;"></div>
      <div id="choices1"></div>
      {{ waitgraph }}
   </div>
   <div class="clear"></div>
</div>

{% endblock %}






