{% extends "baselayout.html" %}
{% set active_page = hostid %}
{% block body %}

<div class="container_12">
    <div class="grid_12">
        <h4>Sproc details for: {{ name[0:name.find('(')] }} on {{ hostname }}
            {% if 'opengrok_baseurl' in settings and settings['opengrok_baseurl']!='' %}
             | show in <a href="https://{{ settings['opengrok_baseurl'] }}&q={{ name[0:name.find('(')] }}">opengrok</a></h4>
            {% endif %}
        <h2>Paramters: {{ name[name.find('('):] }}</h2>
        <form method="GET" action="/sprocs/show/{{hostuiname}}/{{name}}">
            <span class="text3">Timeframe:</span><input class="datefield" type="text" name="from" value="{{ interval['from'] }}"><input class="datefield" type="text" name="to" value="{{ interval['to'] }}">
            <input type="submit" value="show">
        </form>
    </div>
    <script>
    $(function() {
     $( ".datefield" ).datepicker({"dateFormat":"yy-mm-dd"});
    });
    </script>

    <div class="clear"></div>

    <div class="grid_12">
        <h3>Number of calls per 15 minutes</h3>
        <div class="graphc" id="graphcalls" style="width:100%;height:240px;"></div>
        {{ graphcalls }}
    </div>
    <div class="clear"></div>

    <div class="grid_12">
        <h3>Run time total per 15 minutes</h3>
        <div class="graphc" id="graphruntime" style="width:100%; height:240px;">
        </div>
        {{ graphruntime }}
    </div>

    <div class="clear"></div>

    <div class="grid_12">
        <h3>Total time avg.</h3>
        <div class="graphc" id="graphavg" style="width:100%; height:240px;">
        </div>
        {{ graphavg }}
    </div>

    <div class="clear"></div>

    <div class="grid_12">
        <h3>Self time avg.</h3>
        <div class="graphc" id="graphselfavg" style="width:100%; height:240px;">
        </div>
        {{ graphselfavg }}
    </div>
</div>

{% endblock %}
