{% extends "baselayout.html" %}
{% set active_page = hostid %}
{% block body %}

<div class="container_12">
	<div class="grid_12">
	<h4>Sproc details for: {{ name[0:name.find('(')] }} on {{ hostname }} | show in <a href="https://opengrok/search?q={{ name[0:name.find('(')]  }}&project=reboot&defs=&refs=&path=&hist=">opengrok</a></h4>
	<h2>Paramters: {{ name[name.find('('):] }}</h2>
	</div>
	<div class="clear">
	</div>
	
	<div class="grid_12">
		<h3>Number of calls per 15 minutes</h3>
		<div class="graphc" id="graphcalls" style="width:100%;height:240px;"></div>
		{{ graphcalls }}
	</div>
	<div class="clear"></div>
	
	<div class="grid_12">
		<h3>Run time total per 15 minutes</h3>
		<div class="graphc" id="graphruntime" style="width:100%; height:240px;">
		</div>
		{{ graphruntime }}
	</div>
	
	<div class="clear"></div>
		
	<div class="grid_12">
		<h3>Total time avg.</h3>
		<div class="graphc" id="graphavg" style="width:100%; height:240px;">
		</div>
		{{ graphavg }}
	</div>
	
	<div class="clear"></div>
	
	<div class="grid_12">
		<h3>Self time avg.</h3>
		<div class="graphc" id="graphselfavg" style="width:100%; height:240px;">
		</div>
		{{ graphselfavg }}
	</div>
</div>

{% endblock %}
